{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ],
    "react/sort-comp": 0,
    "jsx-quotes": 0,
    "react/no-unused-state": 0,
    "react/jsx-curly-brace-presence": 0,
    "taro/this-props-function": 0,
    "import/prefer-default-export": 0
  },
  "parser": "babel-eslint"
}
